{% block menu_admin %}
<div class="admin-menu">
    <nav>
        <ul>
            <li>
                <a href="{{ baseurl }}/admin/articles">Gestion des articles</a>
            </li>
            <li>
                <a href="{{ baseurl }}/admin/comments">Gestions des commentaires</a>
            </li>
            <li>
                <a href="{{ baseurl }}/admin/users">Gestions des utilisateurs</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
