{% extends "default.html.twig" %}

{% block title %}
    Erreur 403
{% endblock %}

{% block header %}
    {% include "layouts/menu.html.twig" %}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1>Erreur 403</h1>
        <p>Vous n'avez pas l'autorisation d'accéder à cette ressource.</p>
    </div>
{% endblock %}