{% extends "default.html.twig" %}

{% block title %}
    Erreur 404
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Erreur 404</h1>
        <p>La page que vous essayez d'accéder n'existe pas ou plus.</p>
    </div>
{% endblock %}